@model IEnumerable<LibraryManagementApp.Models.Book>
@using LibraryManagementApp.Helpers

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    @if (User.IsInRole(Roles.Admin))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter a book name" value="@ViewData["Getbooks"]" name="bsearch" style="width:500px;" />
        <button class="btn text-light" style="background-color: #6D4C41" id="ApplyTextSearchButton">Search</button>
        <a asp-action="Index"> | List All Books</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookShelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookGenre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookShelf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookGenre)
                </td>
                <td>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>

                        <a asp-action="Details" asp-route-id="@item.Id">Details | </a>

                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
